.Rproj.user
.Rhistory
.RData
.Ruserdata

Python/\.ipynb_checkpoints/climat_russia_cities-checkpoint\.ipynb

Python/Climat russia/\.ipynb_checkpoints/Climat russia-checkpoint\.ipynb

Python/Climat russia/climat_russia_cities\.xlsx

Python/Climat russia/\.ipynb_checkpoints/Climate Russia-checkpoint\.ipynb

Python/Climat russia/climate_russia_cities\.xlsx

Python/Climat russia/google key\.txt

Python/Cufflinks and plotly/\.ipynb_checkpoints/

*.xlsx

Python/Fruits/\.ipynb_checkpoints/

OpenAI_API/api_key.txt

OpenAI_API/.ipynb_checkpoints/

OMDb_API/api_key.txt

OMDb_API/.ipynb_checkpoints/

Movie_recommendation_sketch/OpenAI_API/api_key.txt

Movie_recommendation_sketch/OpenAI_API/.ipynb_checkpoints/

Movie_recommendation_sketch/OMDb_API/.ipynb_checkpoints/

Movie_recommendation_sketch/OMDb_API/api_key.txt
